.badge {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 100%;
  color: var(--text-reverse-color);
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  justify-self: flex-end;
}
