{{#> MainLayout}}
<section class="auth-form">
  <div class="auth-form__box">
    <h1>{{title}}</h1>
    <form>
      <fieldset class="auth-form__data">
        {{#each inputs}}
        {{> Input label=label name=name type=type}}
        {{/each}}
      </fieldset>
      <fieldset class="auth-form__actions">
        {{#each actions}}
        {{> Button label=label type=type}}
        {{/each}}
      </fieldset>
    </form>
  </div>
</section>
{{/ MainLayout}}