<div class="chat-message-nav-wrapper {{#if isActive}}chat-message-nav-wrapper_active{{/if}}">
  <div class="chat-message-nav-avatar">
    {{> Avatar src=avatar.src alt=avatar.alt}}
  </div>
  <h3>{{name}}</h3>
  <p class="chat-message-nav-paragraph">{{message}}</p>
  <span class="chat-message-nav-date">{{date}}</span>
  {{#if badge}}{{> Badge label=badge.label}}{{else}}<span></span>{{/if}}
</div>