{{#> MainLayout isTwoColumns=true}}
<nav class="profile-nav">
  {{> Button arrow=nav.action.arrow label=nav.action.label type=nav.action.type}}
</nav>
<section class="profile-section">
  <div class="profile-section__wrapper">
    <div class="profile-section__avatar">
      {{> Avatar src=section.avatar.src alt=section.avatar.alt}}
    </div>
    {{#if section.isShowTitle}}
    <h1>{{section.title}}</h1>
    {{/if}}
    <form>
      <fieldset class="profile-form__data">
        {{#each section.inputs}}
        {{> InputRow label=label name=name type=type}}
        {{/each}}
      </fieldset>
      <fieldset class="profile-form__actions profile-form__actions_{{section.actions.groupType}}">
        {{#each section.actions.buttons}}
        {{> Button label=label type=type isLinkRed=isLinkRed}}
        {{/each}}
      </fieldset>
    </form>
  </div>
</section>
{{/ MainLayout}}