@import url('./normalize.css');
@import url('./fonts.css');

:root {
  --main-color: #3369f3;
  --second-color: #e4edfd;
  --error-color: #ff2f2f;
  --text-color: #1e1e1e;
  --text-reverse-color: #fff;
  --text-secondary-color: #999;
  --main-background-color: #fff;
  --secondary-background-color: #fbfbfb;
  --border-gray-color: #eaeaea;
  --background-avatar-color: #efefef;
  --link-red-color: #f00;
  --message-gray-color: #f8f8f8;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--main-background-color);
  color: var(--text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}
