.input-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray-color);
  position: relative;
}

.input-row:last-child {
  border-bottom: none;
}

.input-row__label {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
}

.input-row__element {
  border: none;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  color: var(--text-secondary-color);
  padding-bottom: 7px;
  text-align: right;
  background-color: inherit;
}

.input-row__element:focus-visible {
  outline: none;
}

.input-row:focus-within {
  border-bottom: 1px solid var(--main-color);
  transition: border-bottom 0.2s linear;
}

.input-row:has(.error) .input-row__element,
.input-row:has(.error) .input-row__label {
  color: var(--error-color);
}

.input-row:has(.error) {
  border-bottom: 1px solid var(--error-color);
}

.input-row__error {
  position: absolute;
  bottom: -12px;
  right: 0;
  color: var(--error-color);
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
}
