.chats-nav {
  border-right: solid 1px var(--border-gray-color);
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  min-width: 330px;
}

.chats-nav__controls {
  display: flex;
  padding: 0 10px;
  justify-content: right;
  gap: 5px;
}

.chats-nav__search {
  box-sizing: border-box;
  padding: 10px 10px 15px;
  width: 100%;
}

.chats-nav__search input {
  width: 100%;
  background-color: var(--background-avatar-color);
  color: var(--text-main-color);
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.chats-nav__search input::placeholder {
  color: var(--text-secondary-color);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.chats-nav ul {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.chats-nav li {
  list-style-type: none;
}

.chats-nav__search input:focus {
  border: 1px solid var(--main-color);
  transition: border 0.2s linear;
}
