.chat-message {
  max-width: 400px;
  width: max-content;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 8px;
}

.chat-message_other {
  background-color: var(--message-gray-color);
  border-top-left-radius: 0;
}

.chat-message_my {
  background-color: var(--second-color);
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.chat-message span {
  font-size: 9px;
  line-height: 9px;
  color: var(--text-secondary-color);
  align-self: flex-end;
}
