.chat-main-section_no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat-main-section_no-messages p {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-secondary-color);
  margin: 0;
}

.chat-main-section {
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.chat-main-section__header {
  display: grid;
  grid-template-columns: 40px auto min-content;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--border-gray-color);
}

.chat-main-section__header ~ div {
  width: 40px;
  height: 40px;
}

.chat-main-section__header img {
  width: 20px;
  height: 20px;
}

.chat-main-section__header h2 {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
}

.chat-main-section-avatar {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: var(--background-avatar-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main-section-avatar img {
  width: 20px;
  height: 20px;
}

.chat-main-section ul {
  padding: 0;
  margin: 0;
}

.chat-main-section li {
  list-style-type: none;
}

.chat-main-section form {
  display: grid;
  grid-template-columns: auto 30px;
  gap: 10px;
  align-items: center;
  border-top: solid 1px var(--border-gray-color);
  padding-top: 10px;
}

.chat-main-section form input {
  background-color: var(--background-avatar-color);
  color: var(--text-main-color);
  outline: none;
  border: 0;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.chat-main-section form input:focus {
  border: none;
}

.chat-main-section form input::placeholder {
  color: var(--text-secondary-color);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
}

.chat-main-section__messages {
  flex-grow: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-main-section__messages-wrapper {
  display: flex;
  width: 100%;
}

.chat-main-section__messages-wrapper_my {
  justify-content: flex-end;
}

.chat-main-section__messages-wrapper_other {
  justify-content: flex-start;
}

.chat-main-section .chat-message {
  max-width: 400px;
  width: max-content;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 8px;
}

.chat-main-section .chat-message_other {
  background-color: var(--message-gray-color);
  border-top-left-radius: 0;
}

.chat-main-section .chat-message_my {
  background-color: var(--second-color);
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.chat-main-section .chat-message span {
  font-size: 9px;
  line-height: 9px;
  color: var(--text-secondary-color);
  align-self: flex-end;
}

.chat-main-section .input:has(.error) .input__element,
.chat-main-section .input:has(.error) .input__label {
  color: var(--text-main-color);
}

.chat-main-section .input:has(.error) .input__element:focus {
  border-bottom: none;
}

.chat-main-section .input__error {
  transform: translate(4px, 2px);
  color: var(--error-color);
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
}
